<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem name="Clinic"
                  id="menu_clinic"
                  web_icon="clinic_base,static/description/icon.png"
                  sequence="1">

            <menuitem name="Configuration"
                      id="menu_config"
                      sequence="3">
                <menuitem name="Physician Degree"
                        id="menu_physician_degree"
                          action="clinic_physician_degree_action_view"
                          sequence="1"/>

            </menuitem>

        </menuitem>


    </data>
</odoo>